# Copyright (c) 2024 Dane Wagner <dane.wagner@gmail.com>
# SPDX-License-Identifier: Apache-2.0

config AUXDISPLAY_SSD1803A
	bool "SSD 1803A dot character VFD driver"
	default y
	select SPI
	depends on DT_HAS_SOLOMON_SSD1803A_ENABLED
	help
	  Enable driver for SSD 1803A.
